[user]
    name = Jaime Pinzon
    email = jaimepinzon@pm.me
	  signingkey = ~/.ssh/id_ed25519_personal.pub

[core]
    hooksPath = ~/.git-hooks
    editor = vim
    autocrlf = input
    pager = less -FRX

[gpg]
    format = ssh

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true

[fetch]
    prune = true

[merge]
    conflictstyle = zdiff3

[rebase]
    autoStash = true
    autoSquash = true

[diff]
    algorithm = histogram
    colorMoved = default

[rerere]
    enabled = true

[column]
    ui = auto

[branch]
    sort = -committerdate

[tag]
    sort = -version:refname

[alias]
    s = status -sb
    lg = log --oneline --graph --decorate -20
    amend = commit --amend --no-edit
    sign-all = "!f() { git rebase --exec 'git commit --amend --no-edit -S' HEAD~${1:-1}; }; f"
    unstage = restore --staged
    wip = "!git add -A && git commit -m 'wip'"
    undo = reset --soft HEAD~1

[url "git@github.com:"]
    insteadOf = https://github.com/
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[includeIf "gitdir:~/Projects/wonderful/"]
    path = ~/Projects/wonderful/.gitconfig
